.entertainment
{
    font-size:90px;
    color:red;
    text-align:center;
    margin-top: 120px;
}
.cartoon
{
    text-align: center;
    font-size:larger;
}
.main
{
    font-size:20px;
    color:black;
    margin-top:15px;
}